
body {
    font-family: -apple-system, BlinkMacSystemFont, helvetica neue, segoe ui, noto sans japanese, ヒラギノ角ゴ pron w3, Meiryo, sans-serif;
    background-color: #eee;
}

h1 {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

svg {
    max-width: 100vw;
    height: 35vh;
    width: 35vh;
    margin: 2em auto;
    border-radius: 100%;
    background: antiquewhite;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

@media (max-width: 1000px) {
    ul {
        flex-direction: column;
    }
}

li {
    display: block;
    flex-basis: calc(100% / 7);
}

li h2 {
    font-size: 1em;
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

li h2 a {
    color: #00c;
}

hr {
    height:0px;
    border-radius: 2px;
    border: 1px solid hsl(0, 0%, 60%);
    width: 90%;
    max-width: 300px;
}