---
layout: page
title: Tags
permalink: /tags/
---

<style>
{% capture sass %}
  input[type="checkbox"]{
    display: none;
  }
  {% for tag in site.tags %}{% assign tagname = tag[0] %}
  input[type="checkbox"]#{{ tagname }}:checked ~ button.tag-{{ tagname }} > label{
    font-weight: bold;
  }
  {% endfor %}
  {% for tag in site.tags %}{% assign tagname = tag[0] %}
  input[type="checkbox"]#{{ tagname }}:not(:checked) ~ p.tag-{{ tagname }} {
    display: none;
  }
  {% endfor %}
  {% for tag in site.tags %}{% assign tagname = tag[0] %}
  input[type="checkbox"]#{{ tagname }}:checked ~ p.tag-{{ tagname }} {
    display: inherit;
  }
  {% endfor %}
  {% for tag in site.tags %}{% assign tagname = tag[0] %}
  input[type="checkbox"]#{{ tagname }}:checked ~ p:not(.tag-{{ tagname }}) {
    display: none;
  }
  {% endfor %}
{% endcapture %}
{{ sass | scssify }}
</style>

{% for tag in site.tags %}
{% assign tagname = tag[0] %}<input type="checkbox" id="{{ tagname }}"> <button class="tag-{{ tagname }}"><label for="{{ tagname }}">#{{ tagname }}</label></button>
{% endfor %}

{% for post in site.posts %}
<p class="tag-{{ post.tags | join: " tag-" }}">
<a href="{% include relative %}{{ post.url }}">{{ post.title }}</a>
(
  {% for tag in post.tags %}
  <a href="#{{ tag }}" onclick='location.reload();'>#{{ tag }}</a> 
  {% endfor %}
)
</p>
{% endfor %}

<script>
  (function(){
    let hash = location.hash;
    if (hash !== ""){
      document.title = hash + " - " + document.title;
      let tag = decodeURIComponent(hash.slice(1,hash.length));
      document.getElementById(tag).checked = "checked";
    }
  })();
</script>