<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}'s Personal Blog</title>
    <link href="{% include relative %}/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% include relative %}/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{% include relative %}/feed.xml" />
    <link rel="icon" href="{% include relative %}/favicon.ico">
</head>
