<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include fb-root.html %}
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        {% if page.noindex != true %}{% include share-widget.html %}{% endif %}
        <p><a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.branch }}/{{ page.path }}">Improve this content</a></p>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
