---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li itemscope itemtype="http://schema.org/BlogPosting">
        <meta itemprop="url" content="{{ post.url | relative_url }}"/>
        <span class="post-meta"><span itemprop="dateCreated">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span itemprop="keywords">{% for tag in post.tags %}
          {% include tag.html tag=tag %}
          {% endfor %}</span>
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" itemprop="headline">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
