---
layout: default
---
<article>
    <div class="post-header">
        <h1>{{ page.title | escape }}</h1>
        <p>
            <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/{{ site.github.source.branch }}/{{ page.path }}">Raw</a>
            <a href="https://github.com/{{ site.github.repository_nwo }}/commits/{{ site.github.source.branch }}/{{ page.path }}">Log</a>
            <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.github.source.branch }}/{{ page.path }}">Edit</a>
        </p>
    </div>
    {{ content }}
</article>