---
layout: default
---

{% include header.html %}

<div class="content page">
  <h1 class="page-title">{{ page.title }}</h1>
  <p>
    <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/{{ site.github.source.branch }}/{{ page.path }}">ソースを見る</a>
    / <a href="https://github.com/{{ site.github.repository_nwo }}/commits/{{ site.github.source.branch }}/{{ page.path }}">変更履歴を見る</a>
    / <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.github.source.branch }}/{{ page.path }}">マサカリを投げる</a>
  </p>
  <hr>
  {{ content }}
</div>
