---
layout: default
---

<header>
    <h1><a href="{% include relative %}/tags/#{{ page.tags[0] | downcase }}">#{{ page.tags[0] }}</a> {{ page.title }}</h1>
    <p>
        {% for tag in page.tags %}
        <a href="{% include relative %}/tags/#{{ tag | downcase }}">#{{ tag }}</a>
        {% endfor %}
    </p>
</header>

<section class="toc">
    <p>目次</p>
    {% include toc.html html=content sanitize=true %}
</section>

<article>
    {{ content }}
</article>
<footer>
    <p>{{ page.title }}</p>

    <section class="tags">
        {% for tag in page.tags %}
        <a href="{% include relative %}/tags/#{{ tag | downcase }}">#{{ tag }}</a>
        {% endfor %}
    </section>

    <section class="contribute">
        <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/{{ site.github.source.branch }}/{{ page.path }}">ソースを見る</a>
        <a href="https://github.com/{{ site.github.repository_nwo }}/commits/{{ site.github.source.branch }}/{{ page.path }}">変更履歴を見る</a>
        <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.github.source.branch }}/{{ page.path }}">マサカリを投げる</a>
    </section>
</footer>