---
layout: default
---
<article>
    <div class="post-header">
        <h1>
            <a href="{% include relative %}/tags/#{{ page.tags[0] | downcase }}">#{{ page.tags[0] }}</a> 
            {{ page.title | escape }}
        </h1>
        <p class="post-info">
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            {% if page.tags %}|{% endif %}
            {% for tag in page.tags %}
             <a href="{% include relative %}/tags/#{{ tag | downcase }}">#{{ tag }}</a>
            {% endfor %}
             | <a href="https://raw.githubusercontent.com/{{ site.github.repository_nwo }}/{{ site.github.source.branch }}/{{ page.path }}">Raw</a>
             <a href="https://github.com/{{ site.github.repository_nwo }}/commits/{{ site.github.source.branch }}/{{ page.path }}">Log</a>
             <a href="https://github.com/{{ site.github.repository_nwo }}/edit/{{ site.github.source.branch }}/{{ page.path }}">Edit</a>
        </p>
    </div>
    {{ content }}
    <hr>
    <ul>
        {% if page.previous.url %}
        <li>prev: <a href="{% include relative %}{{page.previous.url}}">#{{ page.previous.tags[0] }} {{page.previous.title}}</a></li>
        {% endif %}
        {% if page.next.url %}
        <li>next: <a href="{% include relative %}{{page.next.url}}">#{{ page.next.tags[0] }} {{page.next.title}}</a></li>
        {% endif %}
    </ul>
</article>